body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator{
    background: #333;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: #fff;
    text-align: right;
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.operator{
    background-color: #ff8c00;
}